<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>An Article</h1>
    <p>
      Your article has been created successfully.<br>
    </p>
    <p>Thanks for that and have a great day!</p>
  </body>
</html>