<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>An Article</h1>
    <p>
      Your article status has been updated to archived.<br>
    </p>
  </body>
</html>